{% extends 'core/base.html ' %}
{% load static %}
{% block home %}
  <!-- About Section -->
  <section id="about" class="about section mt-5">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">About me</span>
      <h2>About Me</h2>
      <p class="fs-20"><b>"Expert in Django | Agile Team Maestro | Driving Technological Excellence | Leading Development Team with Innovation & Precision "</b></p>
     
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4 justify-content-center">
        <div class="col-lg-2">
          <img src="{% static 'core/assets/img/about.jpeg' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-10 content">
          <p style="text-align: justify;"class=" fs-20">
            As a dedicated Engineer Graduate, I am deeply passionate about leveraging technology to drive innovation. With a wealth of expertise across diverse domains within IT solutions, I thrive in dynamic business environments, adept at swiftly adapting to evolving challenges. Employing a consultative approach, I specialize in meticulously identifying and delivering tailored solutions to meet specific needs effectively. Eager to apply my skills and expertise, I am committed to contributing to the success of challenging projects, aiming to foster excellence and innovation at every stage of development.
        </div>
      </div>

    </div>

  </section>
  <!-- /About Section -->

  <!-- Resume Section -->
  <section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">My Resume</span>
      <h2>My Resume</h2>
      <p>My Academic and Professional Journey </p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row">

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Sumary</h3>

          <div class="resume-item pb-0">
            <h4>Personal Summary</h4>
            <p style="text-align: justify;"><em>I have a strong enthusiasm for using technology to foster innovation and enhance user experiences. My problem-solving abilities are complemented by a collaborative mindset when working on team projects and engaging in communication. I am dedicated to achieving high-quality outcomes and consistently aim to surpass expectations in all aspects of software development.</em></p>
            <ul style="text-align: justify;">
              <li>Versatile and dedicated software engineering graduate with a focus on creating innovative, high-quality software solutions.</li>
              <li>Skilled in the complete software development life cycle, including design, testing, and development.</li>
              <li>Gained valuable commercial experience during a gap year, building practical understanding of industry practices.</li>
              <li>Actively seeking a role within a fast-paced, growth-oriented company that values continuous learning.</li>
              <li>Interested in opportunities offering development training, project-based learning, and structured mentoring to enhance expertise and contribute to ambitious projects.</li>
          </ul>
          
          </div><!-- Edn Resume Item -->

          <div class="resume-item pb-0">
            <h4>Career Objective</h4>
            <ul style="text-align: justify;">
              <li>To excel as a Professional Engineer by thriving in a challenging work environment that utilizes my functional automation skills and provides ample learning opportunities and global exposure to diverse projects and cutting-edge technologies.</li>
              <li>Aiming to contribute to a dynamic, productive team at the forefront of innovation, collaborating with hardworking and talented individuals to develop impactful solutions while being committed to continuous professional growth and embracing challenges that drive personal and organizational success.</li>
          </ul>
          
          
          </div><!-- Edn Resume Item -->


          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Post Graduate Diploma in Embedded System & Design</h4>
            <h5>Year - (2012-2013) with 68.18% </h5>
            <p>From, Centre For Development of Advanced Computing (ACTS), Pune, Maharastra</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>Bachelor of Engineeering (ECE)</h4>
            <h5>Year - (2006-2010) with 73.34 %</h5>
            <p>From, Rajiv Gandhi Technical University, Bhopal, MP</p>
          </div><!-- Edn Resume Item -->

         

          <div class="resume-item">
            <h4>Higher Secondary School</h4>
            <h5>Year - 2006 with 85.56% .</h5>
            <p>From, Government Subhash Excellence School, Bhopal, MP</p>
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>High School</h4>
            <h5>Year - 2004 with 90% .</h5>
            <p>From, Government Excellence School No. 1 , Shivpuri, MP</p>
          </div><!-- Edn Resume Item -->

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Centre For Development of Advanced Computing</h4>
            <h5>Working as Project Engineer From March 2013 to Present</h5>
            <p><em>Pune, Maharashtra, India </em></p>
            <p class="fs-20">Area of Work</p>
            <ul style="text-align: justify;">
              <li>Development of web portals (both front-end and back-end) utilizing various web technologies.</li>
              <li>Skilled in Python, Django, and JavaScript as well as PHP-based CMS (Joomla).</li>
              <li>Expertise in Elastic Search, along with reporting and analytics capabilities.</li>
              <li>Experience in creating and integrating custom APIs and system APIs.</li>
              <li>Managed hosting and deployment of applications on NIC Cloud and within data centers.</li>
              <li>Ensured compliance with security standards, SEO best practices, UA-IDN, and GIGW regulations.</li>
              <li>Conducted upgrades and maintenance for existing systems to ensure optimal performance.</li>
          </ul>
          
            <p class="fs-20">Roles and Responsibility</p>
            <ul style="text-align: justify;">
              <li>Developed project plans and guidelines that served as a roadmap for the successful completion of projects.</li>
              <li>Collaborated with cross-functional teams to ensure alignment of project goals and objectives, fostering effective communication and teamwork.</li>
              <li>Monitored project progress and identified potential risks, enabling proactive problem-solving to prevent delays and keep projects on track.</li>
              <li>Created a comprehensive project scope that outlined clear objectives for stakeholders, resulting in successful project execution.</li>
              <li>Established a detailed project schedule that provided timelines for each task and milestone, ensuring timely completion of the project.</li>
              <li>Coordinated with vendors and contractors to guarantee that materials were delivered on time and within budget constraints.</li>
              <li>Developed and maintained a project database to track all tasks and milestones, providing transparency and visibility into project progress.</li>
          </ul>
         
        
          
          </div><!-- Edn Resume Item -->

          <div class="resume-item">
            <h4>iMeans Infotech Pvt. Ltd.</h4>
            <h5>Worked as Associate Engineer & consultant From Sept 2011 - Aug 2012</h5>
            <p><em>Bhopal MP, India</em></p>
            <ul style="text-align: justify;">
              <li>Lead technical teams to design web application prototypes, clearly communicating client requirements.</li>
              <li>Develop client projects efficiently, enhancing quality and fostering teamwork.</li>
              <li>Conduct recruitment drives for MBA candidates and assist HR in talent acquisition and testing preparation.</li>
              <li>Maintain client communication for project updates and feedback, ensuring effective team coordination to achieve goals.</li>
          </ul>
          </div><!-- Edn Resume Item -->
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Extra–Curricular Activities:</h3>

          <div class="resume-item pb-0">
          <ul style="text-align: justify;">
            <li>Received a National Level Participation certificate in a Robotics workshop organized by Technophilia Solution at Maulana Azad National Institute of Technology, Bhopal (M.P.).</li>
            <li>Achieved a National Level Participation certificate in an Essay Writing competition hosted by Sagar Institute of Research & Technology, Bhopal (M.P.).</li>
            <li>Recognized for participation in Cultural Activities during Republic Day celebrations in Shivpuri (M.P.).</li>
            <li>Received a certificate for outstanding performance in a Group Exercise conducted on Independence Day in Shivpuri (M.P.).</li>
            <li>Awarded a certificate of merit in a Personality Development Competition organized by Iskcon Youth Forum, Ujjain (M.P.).</li>
            <li>Secured a certificate in a General Knowledge Competition organized by Mathematics Academic Point, Shivpuri (M.P.).</li>
            <li>Actively participated in various institutional activities and emerged as a prize-winning participant on numerous occasions.</li>
        </ul>
        
          </div><!-- Edn Resume Item -->
        </div>
      </div>

      <div class="row">

        <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
          <h3 class="resume-title">Personal Qualities</h3>

          <div class="resume-item pb-0">
          <ul style="text-align: justify;">
            <li>Proven track record of meeting tight schedules, thriving under pressure, and consistently delivering high-quality results to organizations and institutions.</li>
            <li>Possessing a flexible approach and a "Can Do" attitude towards challenges.</li>
            <li>Highly motivated and exceptionally organized in approach.</li>
            <li>Possessing strong technical and analytical skills.</li>
            <li>Demonstrating the ability to ensure projects adhere to schedule and budget constraints.</li>
            <li>Extensive experience in training and mentoring junior and new staff members.</li>
        </ul>
        
          </div><!-- Edn Resume Item -->
        </div>
      </div>
    </div>
  </section>
  <!-- /Resume Section -->

  <!-- Services Section -->
  <section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">My Services</span>
      <h2>My Services</h2>
      <p>Delivering technology-driven solutions that add real value.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">Web Portal Development</a></h4>
            <p>Front-end/Back-end Development using Web Technologies Expertise in Python, Django, JavaScript (React Framework and Node), PHP CMS (Joomla)</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="" class="stretched-link">System/API Development and Integration</a></h4>
            <p>Custom API Development and Seamless Integration System Development for Tailored Solutions</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="" class="stretched-link">Hosting and Deployment Services</a></h4>
            <p>Deployment of Applications on NIC Cloud and Data Center Reliable Hosting Solutions for Seamless Performance</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="" class="stretched-link">Compliance Management Services</a></h4>
            <p>Comprehensive Compliance Handling including Security, SEO, UA-IDN, and GIGW Ensuring Adherence to Regulatory Standards and Best Practices</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>
  <!-- /Services Section -->

  <!-- Testimonials Section -->
  <section id="testimonials" class="testimonials section dark-background">

    <img src="{% static 'core/assets/img/testimonials-bgg.jpg' %}" class="testimonials-bg" alt="">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="swiper init-swiper">
        <script type="application/json" class="swiper-config">
          {
            "loop": true,
            "speed": 600,
            "autoplay": {
              "delay": 5000
            },
            "slidesPerView": "auto",
            "pagination": {
              "el": ".swiper-pagination",
              "type": "bullets",
              "clickable": true
            }
          }
        </script>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'core/assets/img/testimonials/testimonials-11.jpg' %}" class="testimonial-img" alt="">
              <h3>Sanjay Tiwari</h3>
              <h4>Joint Director, C-DAC </h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'core/assets/img/testimonials/testimonials-22.jpg' %}" class="testimonial-img" alt="">
              <h3>Neha Gupta</h3>
              <h4>Joint Director, C-DAC</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'core/assets/img/testimonials/testimonials-33.jpg' %}" class="testimonial-img" alt="">
              <h3>Damodar Magdum</h3>
              <h4>Joint Director</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis sint minim.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->


          <div class="swiper-slide">
            <div class="testimonial-item">
              <img src="{% static 'core/assets/img/testimonials/testimonials-5.jpg' %}" class="testimonial-img" alt="">
              <h3>Shivam Sharma</h3>
              <h4>Project Engineer</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>I highly recommend Sanjay Bhargava for their remarkable ability to balance strategic thinking with practical execution. Their insights and leadership have driven significant success in our projects.</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div><!-- End testimonial item -->

        </div>
        <div class="swiper-pagination"></div>
      </div>

    </div>

  </section>
  <!-- /Testimonials Section -->

  <!-- Blogs Section -->
  <section id="blogs" class="services section mt-5">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">My Blogs</span>
      <h2>My Blogs</h2>
      <p>Delivering technology-driven solutions that add real value.</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-activity icon"></i></div>
            <h4><a href="" class="stretched-link">How to add DNS Record for a website</a></h4>
            <p>To add DNS records for a web server, you typically need access to</p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More...</a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bounding-box-circles icon"></i></div>
            <h4><a href="" class="stretched-link">How can we register domain for our website ?</a></h4>
            <p>Registering a domain name for your website involves a few steps</p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More...</a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-calendar4-week icon"></i></div>
            <h4><a href="" class="stretched-link">How can we host our website on a server ?</a></h4>
            <p>In this article, I'll walk you through one way that you can tak</p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More...</a>
            </div>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-broadcast icon"></i></div>
            <h4><a href="" class="stretched-link">How can we register domain for our website ?</a></h4>
            <p>To add DNS records for a web server, you typically need access to</p>
            <div class="btn-wrap">
              <a href="#" class="btn-buy">Read More...</a>
            </div>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section>
  <!-- /Blog Section -->

  <!-- Portfolio Section -->
  <section id="portfolio" class="portfolio section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">Portfolio</span>
      <h2>Portfolio</h2>
      <p>Showcasing my journey: innovation, creativity, and passion</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

        <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">IDN</li>
          <li data-filter=".filter-product">IPR</li>
          <li data-filter=".filter-branding">LOCALISATION</li>
          <li data-filter=".filter-books">TDIL-DC</li>
        </ul><!-- End Portfolio Filters -->

        <div class="row g-0 isotope-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
            <div class="portfolio-content h-100">
              <img src="{% static 'core/assets/img/portfolio/app1.jpeg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <a href="{% static 'core/assets/img/portfolio/app1.jpeg' %}" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://bhashanet.in" terget="_blank" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
            <div class="portfolio-content h-100">
              <img src="{% static 'core/assets/img/portfolio/app2.jpeg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <a href="{% static 'core/assets/img/portfolio/app2.jpeg' %}" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://ict-ipr.in" terget="_blank" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
            <div class="portfolio-content h-100">
              <img src="{% static 'core/assets/img/portfolio/app3.jpeg' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <a href="{% static 'core/assets/img/portfolio/app3.jpeg' %}" data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://localisation.gov.in" terget="_blank" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->

          <div class="col-xl-3 col-lg-4 col-md-6 portfolio-item isotope-item filter-books">
            <div class="portfolio-content h-100">
              <img src="{% static 'core/assets/img/portfolio/app4.png' %}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <a href="{% static 'core/assets/img/portfolio/app4.png' %}" data-gallery="portfolio-gallery-book" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="https://tdil-dc.in" terget="_blank" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
              </div>
            </div>
          </div><!-- End Portfolio Item -->
        </div><!-- End Portfolio Container -->

      </div>

    </div>

  </section>
  <!-- /Portfolio Section -->

  
  <!-- Contact Section -->
  <section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">Contact</span>
      <h2>Contact</h2>
      <p>Reach out for assistance – I'm just a message away!</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <form action="#" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="300">
        <div class="row gy-4">

          <div class="col-md-6">
            <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
          </div>

          <div class="col-md-6 ">
            <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
          </div>

          <div class="col-md-12">
            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
          </div>

          <div class="col-md-12">
            <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
          </div>

          <div class="col-md-12 text-center">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>

            <button type="submit">Send Message</button>
          </div>

        </div>
      </form><!-- End Contact Form -->

    </div>

  </section><!-- /Contact Section -->
{% endblock %}